/node_modules

/.idea
/.vagrant

backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/.env
backend/composer.lock
backend/storage/api-docs/api-docs.json
backend/release.txt

frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln